body {
  font: 12pt Verdana, Arial, Georgia, sans-serif;
}

header {
  width: auto;
}

#logo {
  float: left;
}

aside {
  font-weight: bold;
  padding: 240px;
  width: 75px;
}

nav a.more {
  position: relative;
  z-index: 24;
}

nav a.more:hover {
  z-index: 25;
}

nav a.more span {
  display: none;
}

nav a.more:hover span {
  font-weight: bold;
  display: block;
  position: absolute;
  top: -35px;
  width: 300px;
  color: #ff0000;
  line-height: 1em;
}

nav {
  float: left;
  margin: 185px 0px 0px 0px;
  width: 400px;
  background-color: #628794;
  border: 1px solid black;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline;
}

nav li {
  display: inline;
  line-height: 1.8em;
}

nav ul li a:link, nav ul li a:visited {
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  padding: 7px 10px 7px 10px;
  background-color: #628794;
  color: #ffffff;
}

nav ul li a:hover, nav ul li a:active {
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  padding: 7px 10px 10px 7px;
  background-color: #c6a648;
  color: #000000;
}

section {
  width: auto;
  float: left;
  clear: left;
}

section a {
  text-decoration: none;
  font-weight: bold;
}
